.words-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
}

.word-item {
    background-color: #e36bae;
    margin: 1.5%;
    padding: .5rem;
    border-radius: 8px;
    color: #ffffff;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.342);
}

@media only screen and (min-width: 500px) {
    .words-list {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1300px) {
    .words-list {
        justify-content: center;
    }
}