.title {
    margin: 0;
    padding: 1vh;
    text-align: center;
    background-color: #e36bae;
    position: relative;
    z-index: 2;
}

.title a{
    color: black;
    text-decoration: none;
    color: #ffffff;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 1vh;
    border-bottom: 1px solid #e36bae;
    position: relative;
    background-color: #ffffff;
    z-index: 2;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    background-color: #e36bae;
    padding: 2%;
    border-radius: 8px;
}

.username {
    color: #ffffff;
    text-decoration: none;
    background-color: #e36bae;
    padding: 6px;
    margin: 0;
    border-radius: 8px;
}

@media only screen and (min-width: 500px) {
    .nav {
        max-height: 50px;
        justify-content: center;
    }

    .nav a {
        padding: .3%;
        max-height: 50px;
        margin: 0 5px;
    }
}